<p id="notice"><%= notice %></p>

<p>
  <strong>Fecham:</strong>
  <%= @apertura_moneda.fecham %>
</p>

<p>
  <strong>Horam:</strong>
  <%= @apertura_moneda.horam %>
</p>

<p>
  <strong>Nromaquinam:</strong>
  <%= @apertura_moneda.nromaquinam %>
</p>

<p>
  <strong>Valorm:</strong>
  <%= @apertura_moneda.valorm %>
</p>

<p>
  <strong>Monedaf:</strong>
  <%= @apertura_moneda.monedaf %>
</p>

<p>
  <strong>Totalm:</strong>
  <%= @apertura_moneda.totalm %>
</p>

<p>
  <strong>Totalfm:</strong>
  <%= @apertura_moneda.totalfm %>
</p>

<%= link_to 'Edit', edit_apertura_moneda_path(@apertura_moneda) %> |
<%= link_to 'Back', apertura_monedas_path %>
