<p id="notice"><%= notice %></p>

<p>
  <strong>Fechar:</strong>
  <%= @recaudacion.fechar %>
</p>

<p>
  <strong>Horar:</strong>
  <%= @recaudacion.horar %>
</p>

<p>
  <strong>Nromaquinar:</strong>
  <%= @recaudacion.nromaquinar %>
</p>

<p>
  <strong>Rellenoini:</strong>
  <%= @recaudacion.rellenoini %>
</p>

<p>
  <strong>Valorr:</strong>
  <%= @recaudacion.valorr %>
</p>

<p>
  <strong>Monedafr:</strong>
  <%= @recaudacion.monedafr %>
</p>

<p>
  <strong>Rellenofin:</strong>
  <%= @recaudacion.rellenofin %>
</p>

<p>
  <strong>Totalr:</strong>
  <%= @recaudacion.totalr %>
</p>

<p>
  <strong>Totalfr:</strong>
  <%= @recaudacion.totalfr %>
</p>

<%= link_to 'Edit', edit_recaudacion_path(@recaudacion) %> |
<%= link_to 'Back', recaudacions_path %>
