<p id="notice"><%= notice %></p>

<p>
  <strong>Fechab:</strong>
  <%= @apertura_billete.fechab %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @apertura_billete.hora %>
</p>

<p>
  <strong>Nromaquina:</strong>
  <%= @apertura_billete.nromaquina %>
</p>

<p>
  <strong>Valorb:</strong>
  <%= @apertura_billete.valorb %>
</p>

<p>
  <strong>Billetef:</strong>
  <%= @apertura_billete.billetef %>
</p>

<p>
  <strong>Totalb:</strong>
  <%= @apertura_billete.totalb %>
</p>

<p>
  <strong>Totalf:</strong>
  <%= @apertura_billete.totalf %>
</p>

<%= link_to 'Edit', edit_apertura_billete_path(@apertura_billete) %> |
<%= link_to 'Back', apertura_billetes_path %>
